.bg_item {
  display: inline-block;
  color: var(--color-white-low-opacity);
  font-weight: bold;
  position: absolute;
}


.animation_heart {
  animation: heart_scale 3s linear infinite alternate;
}

@keyframes heart_scale {
  from {
    opacity: 0.5;
  }
  to {
    opacity: 0.1;
  }
}
