.header{
  width: 100vw;
  position: sticky;
  top:0;
  padding: 10px 20px;
  background-color: var(--bg-color-black);
}

.nav{
  list-style: none;
  padding-left: 0;
  display: flex;
  justify-content: space-between;
}

.nav_item{
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
}

.nav_item_big{
  color: white;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: bold;
  text-transform: uppercase;
}

.nav_item:hover,
.nav_item_big:hover,
.nav_item:active,
.nav_item_big:active{
  color:yellow
}