.modal {
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  left: 0px;
  width: 100vw;
  height: 100vh;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.modal_img {
  width: 100%;
}

.modal_btn_close {
  display: inline-block;
  color: var(white);
  margin: 30px auto;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  padding: 10px;
  border: 2px solid white;
}

.modal_btn_close:hover {
  background-color: black;
  transform: scale(1.2);
  cursor: pointer;
}
