@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
  --bg-color-black: #0f0f13;
  --bg-color-blue: #242e50;
  --color-white-low-opacity: rgba(255, 255, 255, 0.05);
  --color-shadow: rgba(255, 255, 255, 0.5);
}

* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
}

html {
  min-width: 460px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.size1 {
  font-size: 1rem;
}

.size2 {
  font-size: 1.7rem;
}

.size3 {
  font-size: 2.7rem;
}

.about-container{
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 960px) {
  .about-container{
    flex-direction: row;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-width: 1300px) {
  .about-container{
    width: 80%;
  }
}