@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Playfair+Display:wght@400;700&display=swap');

:root {
  --bg-color-black: #0f0f13;
  --bg-color-blue: #242e50;
  --color-white-low-opacity: rgba(255, 255, 255, 0.05);
}

* {
  box-sizing: border-box;
}

html {
  min-width: 460px;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  overflow-x: hidden;
  padding: 0;
  scroll-behavior: smooth;
}

.size1 {
  font-size: 1rem;
}

.size2 {
  font-size: 2rem;
}

.size3 {
  font-size: 3rem;
}
